.main-section{
    padding-top: 50px;
    padding-bottom: 50px;
}
.trophy{
    width: 100%;
    height: 100%;
}

.first{
    flex: 30%;
}
.second{
    flex: 58%;
}
li{
    font-size: 18px;
    font-weight: 400;
}
.gap-20{
    gap: 40px;
}

.grow-0{
    flex-grow: 0;
}
.ml-20{
    margin-left: 20px;
}
.my-20{
    margin-top: 20px;
    margin-bottom: 20px;
}
.award{
    width: 100%;
}
.info{
    font-size: 17px;
    text-align: start;
}
@media screen and (max-width:1024px) {
    .first{
        flex: 35%;
    }
    .second{
        flex: 55%;
    }
    
}
@media screen and (max-width:900px) {
    .first{
        flex: 40%;
    }
    .second{
        flex: 50%;
    }
    .trophy{
        width: 100%;
    }
    .gap-10{
        gap: 10px;
    }
    li{
        font-size: 16px;
    }
    .info{
        font-size: 15px;
    }
    
}
@media screen and (max-width:768px) {
    .main-section{
        flex-direction: column;
        align-content: center;
        flex: 100%;
    }
    .trophy{
        width: 80%;
    }
    li{
        font-size: 14px;
    }
    .info{
        font-size: 13px;
    }
    
    

    
}
