.sub-heading{
    font-size: 15px;
}
.items{
    width: 74%;
}
.sub-2{
    font-size: 16px;
}
@media screen and (max-width:768px) {
    .sub-heading{
        font-size: 12px;
    }
    .sub-2{
        font-size: 14px;
    }
    
}
