*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Inter';
  text-align: justify;
}
body{
  background-image:linear-gradient(white,#F6F193) ;
  background-repeat: no-repeat;
  padding: 15px;
}
.text-center{
  text-align: center;
}